.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-button {
  width: 100%;
  height: 4rem;
}

.app-bottom-container {
  display: flex;
  background-color: #f7f7f7;
  width:100%;
  min-height: 100%;
  
}

.nav {
  display: flexbox;
  background-color: #f7f7f7;
  width: 325px;
  max-height: 90%;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left:15%

}

.content-feed {
  background-color: #f7f7f7;
  width: 600px;
  margin-top:1rem;
  max-height: 100%;
  overflow: auto
}

.feed {
  max-height: 150%;
  overflow: auto
}

#time-input {
  margin-left:2rem;
  margin-top:.5rem;
}

#add-button{
  margin-left: 1rem;
  margin-top: 1rem;
}

.nah {
 width:100%
}

.ingredient-input {
  width:33rem;
}

#input-test {
  width: 20rem
}
.side-panel {
  background-color: #f7f7f7;
  width: 325px;
  margin-top:1rem;
  max-height: 90%;
  margin-left: 1rem;
}

.search {
  background-color: #f72f02;
  width: 100%;
  height: 60px;
  margin:auto;
  text-align: left
}

.search-input {
  margin: .75rem;
  margin-left: 2rem;
  width:30rem;
}

.search-button {
  margin-left: 1rem
}

.recipe-card-sub-details {
  display: flex;
}

#side-seg-container{
  background-color: black;
}